*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/backend/build/
/captures
.idea/.name

backend/src/main/resources/serviceAccountCredentials.json
backend/src/main/resources/mySecurityValues.json

/app/release/